@import url("https://fonts.googleapis.com/css2?family=Keania+One&family=Luckiest+Guy&display=swap");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.teamTitle {
  position: fixed;
  top: 80%;
  left: 0;
  font-size: 28px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Keania One", sans-serif;
  z-index: 0;
}

.teamListContainer {
  max-width: 900px;
}

.propsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.secondRowContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.playmakersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.wingersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.centresContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.fullbackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}
.interchangeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}
/*  =============== MEDIA QUERIES ========================*/

@media screen and (min-width: 768px) {
  .teamTitle {
    font-size: 40px;
    margin: 28px;
  }

  .teamListContainer {
    width: 80%;
    margin: 0 auto;
  }
  .propsContainer {
    width: 100%;
    justify-content: space-between;
  }
  .secondRowContainer {
    width: 100%;
    justify-content: space-around;
  }
  .playmakersContainer {
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .wingersContainer {
    width: 100%;
    justify-content: space-between;
  }
  .centresContainer {
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .fullbackContainer {
    width: 100%;
    margin-top: 5px;
  }
  .interchangeContainer {
    width: 100%;
    justify-content: space-between;
  }
}

/*  =============== END OF MEDIA QUERIES ========================*/
