@import url("https://fonts.googleapis.com/css2?family=Keania+One&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.teamTitle {
  position: fixed;
  top: 80%;
  left: 0;
  font-size: 28px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Keania One", sans-serif;
  z-index: 0;
}

.teamListContainer {
  max-width: 900px;
}

.propsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.secondRowContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.playmakersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.wingersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.centresContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.fullbackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}
.interchangeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

/* .allGamesContainer {
  min-height: 100%;
} */

.gamesContainer {
  background-color: var(--dark-green);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  /* border: 2px solid purple; */
}

.gamesHeadingContainer {
  width: 100%;
  margin-bottom: 10px;

  padding: 5px;
}

.gamesHeadingContainer h1 {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Keania One", sans-serif;
  font-size: 22px;
}

.gameForm {
  margin-bottom: 10px;
  background-color: var(--dark-green-hover);
  border-radius: 5px;
}

.gameForm form {
  padding: 10px;

  display: flex;
  align-items: center;
}

.gameForm label {
  font-family: "Keania One", sans-serif;
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 10px;
}

.gameForm select {
  border-radius: 5px;
  font-family: "Jura", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.game {
  display: flex;
  justify-content: space-between;

  padding: 5px;
  height: 100%;
}

.homeSection {
  text-align: left;
  /* border: 2px solid red; */
  margin-right: 10px;
  min-width: 30%;
}
.awaySection {
  text-align: left;
  /* border: 2px solid blue; */
  margin-right: 10px;
  min-width: 30%;
}

.entriesHeading {
  font-family: "Keania One", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  font-size: 14px;
}

.entries {
  font-family: "Jura", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: var(--white);
}

/*  =============== MEDIA QUERIES ========================*/

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 40px;
  }
  .teamTitle {
    font-size: 40px;
    margin: 28px;
  }

  .teamListContainer {
    width: 80%;
    margin: 0 auto;
  }
  .propsContainer {
    width: 100%;
    justify-content: space-between;
  }
  .secondRowContainer {
    width: 100%;
    justify-content: space-around;
  }
  .playmakersContainer {
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .wingersContainer {
    width: 100%;
    justify-content: space-between;
  }
  .centresContainer {
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .fullbackContainer {
    width: 100%;
    margin-top: 5px;
  }
  .interchangeContainer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .gamesContainer {
    width: 600px;
  }
  .gamesHeadingContainer h1 {
    font-size: 26px;
  }
  .gameForm label {
    font-size: 22px;
    margin-right: 20px;
  }
  .entriesHeading {
    font-size: 20px;
  }
  .entries {
    font-size: 20px;
  }
}

/*  =============== END OF MEDIA QUERIES ========================*/
