@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --light-grey: #9b9b9b;
  --dark-green: #1a2a08;
}

.grass-wrapper {
  background-image: url("/assets/images/grass.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 0;
}

.grass-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
