@import url("https://fonts.googleapis.com/css2?family=Keania+One&family=Luckiest+Guy&display=swap");

.cardContainer {
  min-height: 135px;
  width: 135px;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--white);
  padding: 2px;
  font-family: "Keania One", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.cardContainer:hover {
  background-color: var(--dark-green-hover);
}
